[Unit]
Description=Ink Memories Image Displayer
After=ink-memories-image-source.service
Requires=ink-memories-image-source.service

[Service]
WorkingDirectory={{INK_MEMORIES_ROOT}}/displayer_service
ExecStart=sudo python app.py

[Install]
WantedBy=multi-user.target
