[Unit]
Description=Ink Memories Image Displayer
After=ink-memories-image-source.service
Requires=ink-memories-image-source.service

[Service]
WorkingDirectory=/home/pi/InkMemories/displayer_service
ExecStart=/usr/bin/python screen_manager.py
Restart=always

[Install]
WantedBy=multi-user.target
